body{background-color:
     rgba(131, 26, 166, 0.849);}
     
     h1{color: rgba(64, 3, 91, 0.825);
     font-size: 30px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
 sans-serif;}


